extends layout

block content
  .container
    .row.my-4.justify-content-center
      .col-md-9
        each article, index in articles
          .card.mb-3
            .card-body
              a(href='/post/'+article.id)
                h2.text-primary!= article.title
              .d-flex.flex-row.text-secondary.small
                .p-2
                  span.fa.fa-clock-o!= moment(article.update_time*1000).format("YYYY/MM/DD")
                .p-2
                  i.fa.fa-tag(aria-hidden='true')
                  a.text-info(href='#')!= categories[article.category].name
              div!= article.content.slice(0,150)
                |...
    include partials/pagination.pug
