extends layout

block content
  .container
    .hex-blog
      nav.breadcrumb.pl-0
        a.breadcrumb-item.text-primary(href='#') Home
        a.breadcrumb-item.text-primary(href='#')
          | 沒有分類
        span.breadcrumb-item.active 補充課程：Sass 與 includePaths
      .row.justify-content-center
        .col-md-9
          // artical header
          h1.text-primary!= article.title
          .d-flex.flex-row.text-secondary.small
            .p-2
              i.fa.fa-user-o(aria-hidden='true')
              |  卡斯伯
            .p-2= moment(article.update_time*1000).format("YYYY/MM/DD")
            .p-2
              i.fa.fa-tag(aria-hidden='true')
              a.text-info(href='')!= categories[article.category].name
          article.text-dark.post.mb-4
            p!= article.content
          .card.mb-3
            .card-body